package ${packageName}.bo.base;

#set($importSet = ${javaMatchUtils.collectImportBOM($PropertyList)})
#foreach($elem in ${importSet})
#if($stringUtils.isNotBlank(${elem}))
$elem
#end
#end

#if($stringUtils.isNotBlank(${Comment}))
/**
* ${Comment}
*
*/
#end
public class ${Name}Base {
#foreach( $elem in ${PropertyList})
#if($stringUtils.isNotBlank(${elem.columnComment}))
	/**
	*  ${elem.columnComment}
	*/
#else 
	/**
	*  ${elem.columnNameCamel}
	*/
#end
#if($stringUtils.isNotBlank(${elem.columnDefault}))
	private $javaMatchUtils.matchMySql($elem.dataType) ${elem.columnNameCamel} ;
#else 
	private $javaMatchUtils.matchMySql($elem.dataType) ${elem.columnNameCamel} ; 
#end

#end

#foreach( $elem in ${PropertyList})
	#set($columnUpper = ${camelCaseTool.toUpperCaseStart($elem.columnNameCamel)})
	#set($dataType = $javaMatchUtils.matchMySql($elem.dataType))
	public void set${columnUpper}(${dataType} ${elem.columnNameCamel}){
		this.${elem.columnNameCamel} = ${elem.columnNameCamel};
	} 

	public ${dataType} get${columnUpper}(){
		return ${elem.columnNameCamel};
	}  

#end 		
}